<div class="footer" id="footer">

	<div id="buddha-right">
		<a href="/buddha01-blue-large.png"><img
			src="/buddha01-blue-small.png" style="height: 80px;" /></a>
	</div>
	
	<div id="buddha-left">
		<a href="/buddha03-blue-large.png"><img
			src="/buddha03-blue-small.png" style="height: 80px;" /></a>
	</div>

<div class="footerContent">
  
    <form method="get" id="searchform" action="">
      <div id="search">
        <input type="text" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Search" />
      </div>
    </form>
    <p id="footer-text">&copy; The Path Is - Powered by Blograt and Groovy</p>
 
 </div>
</div>