<title>$windowTitle</title>
<% items.each { print it } %>
<!--GSP IGNORE-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/style.gcss" type="text/css" />
<link rel="stylesheet" href="/static-style.css" type="text/css" />
<link rel="stylesheet" href="/google.css" type="text/css" />
<script src="/javascript/pixastic/pixastic.jquery.js" type="text/javascript"></script>
<script src="/javascript/pixastic/pixastic.core.js" type="text/javascript"></script>
<script src="/javascript/pixastic/actions/lighten.js"></script>
<script src="/javascript/pixastic/actions/glow.js"></script>
<!--GSP IGNORE-->