<div id=banner>
	<div id="mainnav">
	<ul class="main-nav-left">
		<% if (!alreadyLoggedIn) { %>
    		<li id="login"><a href="#login-box" class="login-window">Login</a></li>
    	<% } else {%>
    		<li id="login"><a href="#logout" class="logout">Logout</a></li>
    	<% } %>
    	<li><a href="${blogHomeURL}">HOME</a></li>
   	 	<li><a href="/contact" class="smcf-link">CONTACT</a></li>
	  	<li><a href="/page/about">About</a></li>
		<li><a href="/summary">Summary</a></li>
		<li><a href="/page/things-i-like">Things I Like</a></li>
	</ul>
	</div>
	<a id="banner-link" href="${blogHomeURL}" title="Home"><img id="banner-image" src="/thepathis-banner.png" /></a>
</div>