<div id="new-post-meta-wrapper">
		<form id="new-post-meta" >
			<input type="text" name="title" id="title" value="${post.title}" />
		</form>
</div>
<div id="create-new-post-wrapper">
	<div class="ruler" id="ruler-div"></div>
	<div class="editor" id="main-text-editor"></div>
	<div id="new-post-submit" style="display:none;">
		<form name="input" action="/finishnewpost" method="post">
		</form>
	</div>
</div>
<% if (!newpost) { %>
	<div id="post-data-passer" style="display:none;" data-id="${post._id}" data-seqnumber="${post.sequenceNumber}">${post.html}</div>
<% } %>
<script type="application/javascript" src="/javascript/tiny_mce/tiny_mce.js"></script>
<script type="application/javascript" src="/javascript/my_tiny_mce.js"></script>