<div id="login-main-div" class="login">
	<form method="post" class="login" action="#">
		<fieldset class="textbox">
			<div id="login-info">
			<label class="username">
				<div>Username or email</div> 
				<input id="username" name="username" value="" type="text" autocomplete="on" >
			</label> 
			<label class="password">
				<div>Password</div> 
				<input id="password" name="password" value="" type="password">
			</label>
			</div>
			<button class="submit login-button" type="button">Sign in</button>
			<div class="forgot_login" id='forgot-login-div'>
				<a class="forgot_login" id='forgot-login-link' href="#">Forgot your password?</a>
			</div>
		</fieldset>
	</form>
</div>